In [1]:
import pandas as pd
import numpy as np

In [2]:
# Pandas 数据处理工具  2008年
# Panel + data + Analysis

# dataframe : 既有行索引，又有列索引的二维数组
# panel
# Series

In [3]:
stock_change = np.random.normal(0, 1, (10, 5))
stock_change

array([[-0.941162  , -0.92358381, -0.77555565,  1.14317837,  0.15102403],
       [-0.40935521,  0.74842182, -1.04478714, -0.36781009, -0.62163599],
       [-0.20691062, -0.17903267,  0.01320877, -0.73138344,  0.06565432],
       [-0.30387187, -0.52328741, -1.55843589, -1.27876923, -0.3057923 ],
       [-0.42499041,  0.27395973,  0.80381744, -1.20747345, -0.33967782],
       [-1.07231586,  0.2969242 ,  0.11566751, -1.25655088, -0.70883973],
       [ 0.64319569,  2.22797008, -0.74488763,  0.09785897,  1.42038713],
       [ 0.28821583, -0.44378612, -1.05953383,  0.29417604, -1.30915253],
       [ 1.342     , -0.07221205, -0.01581974,  1.21950732,  0.25033527],
       [ 0.94504351, -0.23562996,  1.13255372,  0.4787558 ,  0.60940236]])

In [4]:
df = pd.DataFrame(stock_change)

In [5]:
df

          0         1         2         3         4
0 -0.941162 -0.923584 -0.775556  1.143178  0.151024
1 -0.409355  0.748422 -1.044787 -0.367810 -0.621636
2 -0.206911 -0.179033  0.013209 -0.731383  0.065654
3 -0.303872 -0.523287 -1.558436 -1.278769 -0.305792
4 -0.424990  0.273960  0.803817 -1.207473 -0.339678
5 -1.072316  0.296924  0.115668 -1.256551 -0.708840
6  0.643196  2.227970 -0.744888  0.097859  1.420387
7  0.288216 -0.443786 -1.059534  0.294176 -1.309153
8  1.342000 -0.072212 -0.015820  1.219507  0.250335
9  0.945044 -0.235630  1.132554  0.478756  0.609402

In [6]:
stock = ['股票{}'.format(i) for i in range(10)]

In [7]:
pd.DataFrame(stock_change, index=stock)

            0         1         2         3         4
股票0 -0.941162 -0.923584 -0.775556  1.143178  0.151024
股票1 -0.409355  0.748422 -1.044787 -0.367810 -0.621636
股票2 -0.206911 -0.179033  0.013209 -0.731383  0.065654
股票3 -0.303872 -0.523287 -1.558436 -1.278769 -0.305792
股票4 -0.424990  0.273960  0.803817 -1.207473 -0.339678
股票5 -1.072316  0.296924  0.115668 -1.256551 -0.708840
股票6  0.643196  2.227970 -0.744888  0.097859  1.420387
股票7  0.288216 -0.443786 -1.059534  0.294176 -1.309153
股票8  1.342000 -0.072212 -0.015820  1.219507  0.250335
股票9  0.945044 -0.235630  1.132554  0.478756  0.609402

In [8]:
date = pd.date_range(start='20200420', periods=5, freq='B')

In [9]:
date

DatetimeIndex(['2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
               '2020-04-24'],
              dtype='datetime64[ns]', freq='B')

In [10]:
df = pd.DataFrame(stock_change, index=stock, columns=date)

In [11]:
df.shape

(10, 5)

In [12]:
df.index

Index(['股票0', '股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9'], dtype='object')

In [13]:
df.columns

DatetimeIndex(['2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
               '2020-04-24'],
              dtype='datetime64[ns]', freq='B')

In [14]:
df.values

array([[-0.941162  , -0.92358381, -0.77555565,  1.14317837,  0.15102403],
       [-0.40935521,  0.74842182, -1.04478714, -0.36781009, -0.62163599],
       [-0.20691062, -0.17903267,  0.01320877, -0.73138344,  0.06565432],
       [-0.30387187, -0.52328741, -1.55843589, -1.27876923, -0.3057923 ],
       [-0.42499041,  0.27395973,  0.80381744, -1.20747345, -0.33967782],
       [-1.07231586,  0.2969242 ,  0.11566751, -1.25655088, -0.70883973],
       [ 0.64319569,  2.22797008, -0.74488763,  0.09785897,  1.42038713],
       [ 0.28821583, -0.44378612, -1.05953383,  0.29417604, -1.30915253],
       [ 1.342     , -0.07221205, -0.01581974,  1.21950732,  0.25033527],
       [ 0.94504351, -0.23562996,  1.13255372,  0.4787558 ,  0.60940236]])

In [15]:
df.T

,股票0,股票1,股票2,股票3,股票4,股票5,股票6,股票7,股票8,股票9
2020-04-20,-0.941162,-0.409355,-0.206911,-0.303872,-0.424990,-1.072316,0.643196,0.288216,1.342000,0.945044
2020-04-21,-0.923584,0.748422,-0.179033,-0.523287,0.273960,0.296924,2.227970,-0.443786,-0.072212,-0.235630
2020-04-22,-0.775556,-1.044787,0.013209,-1.558436,0.803817,0.115668,-0.744888,-1.059534,-0.015820,1.132554
2020-04-23,1.143178,-0.367810,-0.731383,-1.278769,-1.207473,-1.256551,0.097859,0.294176,1.219507,0.478756
2020-04-24,0.151024,-0.621636,0.065654,-0.305792,-0.339678,-0.708840,1.420387,-1.309153,0.250335,0.609402

In [16]:
df.head(1)

     2020-04-20  2020-04-21  2020-04-22  2020-04-23  2020-04-24
股票0   -0.941162   -0.923584   -0.775556    1.143178    0.151024

In [17]:
df.tail(2)

     2020-04-20  2020-04-21  2020-04-22  2020-04-23  2020-04-24
股票8    1.342000   -0.072212   -0.015820    1.219507    0.250335
股票9    0.945044   -0.235630    1.132554    0.478756    0.609402

In [18]:
# 修改索引
# 不能单独修改
stock_ = ['股票_{}'.format(i) for i in range(10)]
stock_

['股票_0',
 '股票_1',
 '股票_2',
 '股票_3',
 '股票_4',
 '股票_5',
 '股票_6',
 '股票_7',
 '股票_8',
 '股票_9']

In [19]:
df.index

Index(['股票0', '股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9'], dtype='object')

In [20]:
# 必须全部修改
df.index = stock_

In [21]:
df.index

Index(['股票_0', '股票_1', '股票_2', '股票_3', '股票_4', '股票_5', '股票_6', '股票_7', '股票_8',
       '股票_9'],
      dtype='object')

In [22]:
df.tail(2)

      2020-04-20  2020-04-21  2020-04-22  2020-04-23  2020-04-24
股票_8    1.342000   -0.072212   -0.015820    1.219507    0.250335
股票_9    0.945044   -0.235630    1.132554    0.478756    0.609402

In [23]:
# 重设索引
df.reset_index(drop=True)

   2020-04-20  2020-04-21  2020-04-22  2020-04-23  2020-04-24
0    0.068355    0.203012    1.889326   -1.670847   -1.239886
1   -1.813092   -0.285382    0.143938    0.098557   -0.349308
2    1.607153   -0.976716    0.995046   -1.062146   -1.296888
3    0.745089    0.296221   -0.195409   -0.677324    0.809483
4    0.505410    0.157363   -0.892932   -1.387413    0.397413
5   -0.055986   -1.579660   -1.246429   -0.794527    0.401035
6   -0.452414    0.809457   -1.528715   -0.708620   -1.542618
7   -0.020787    1.068338    0.479262   -0.076283    0.625475
8    0.406427   -1.363418   -0.085297   -1.346990   -1.905033
9   -0.507554    1.776269    0.806649    2.442045    0.709556

### 设置新索引

In [24]:
df = pd.DataFrame({'month':[1, 4, 7, 10], 
                   'year':[2017, 2018, 2019, 2020],
                   'sale':[55, 40, 94, 34]})

In [25]:
df

   month  year  sale
0      1  2017    55
1      4  2018    40
2      7  2019    94
3     10  2020    34

In [30]:
new_df = df.set_index(keys=[ 'year','month'], drop=True)

In [31]:
new_df.index

MultiIndex([(2017,  1),
            (2018,  4),
            (2019,  7),
            (2020, 10)],
           names=['year', 'month'])

In [33]:
new_df.index.names

FrozenList(['year', 'month'])

In [34]:
new_df.index.levels

FrozenList([[2017, 2018, 2019, 2020], [1, 4, 7, 10]])

In [25]:
df

      2020-04-20  2020-04-21  2020-04-22  2020-04-23  2020-04-24
股票_0   -0.941162   -0.923584   -0.775556    1.143178    0.151024
股票_1   -0.409355    0.748422   -1.044787   -0.367810   -0.621636
股票_2   -0.206911   -0.179033    0.013209   -0.731383    0.065654
股票_3   -0.303872   -0.523287   -1.558436   -1.278769   -0.305792
股票_4   -0.424990    0.273960    0.803817   -1.207473   -0.339678
股票_5   -1.072316    0.296924    0.115668   -1.256551   -0.708840
股票_6    0.643196    2.227970   -0.744888    0.097859    1.420387
股票_7    0.288216   -0.443786   -1.059534    0.294176   -1.309153
股票_8    1.342000   -0.072212   -0.015820    1.219507    0.250335
股票_9    0.945044   -0.235630    1.132554    0.478756    0.609402

In [26]:
df.iloc[1,:]

2020-04-20   -0.409355
2020-04-21    0.748422
2020-04-22   -1.044787
2020-04-23   -0.367810
2020-04-24   -0.621636
Freq: B, Name: 股票_1, dtype: float64

In [27]:
# Series 带索引的一维数组
sr = df.iloc[1,:]

In [31]:
sr

2020-04-20   -0.409355
2020-04-21    0.748422
2020-04-22   -1.044787
2020-04-23   -0.367810
2020-04-24   -0.621636
Freq: B, Name: 股票_1, dtype: float64

In [32]:
sr.index

DatetimeIndex(['2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
               '2020-04-24'],
              dtype='datetime64[ns]', freq='B')

In [33]:
sr.values

array([-0.40935521,  0.74842182, -1.04478714, -0.36781009, -0.62163599])

In [45]:
sr1 = pd.Series(np.arange(3,9,2), index=['a', 'b', 'c'])

In [46]:
type(sr1)

pandas.core.series.Series

In [47]:
type(df)

pandas.core.frame.DataFrame

In [48]:
sr1

a    3
b    5
c    7
dtype: int32

In [49]:
# DataFrame 是 Series 的容器
pd.Series({'red':100, 'blue':200, 'green':500, 'yellow':1000})

red        100
blue       200
green      500
yellow    1000
dtype: int64

# 基本操作

In [ ]:
data = pd.read_csv('./')